html,
body {
  height: 100%;
  font-family: 'Londrina Solid', cursive;
}

#game-screen {
  height: 80vh;
  background-color: black;
}

#game-title {
  white-space: nowrap;
  font-family: 'Rubik Burned', cursive;
}

#start-btn {
  font-size: 1rem;
}

.word {
  font-size: 2rem;
  font-family: 'Londrina Solid', cursive;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: black;
}

.modal-close {
  font-family: verdana; /* google font family adds extra styling */
}

.modal-body {
  font-size: 1.3rem;
}

#game-over-screen {
  display: none;
  height: 80vh;
  text-align: center;
  background-color: white;
}

.game-over-text {
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}
