html,
body {
  height: 100%;
  font-family: 'Londrina Solid', cursive;
}

#game-screen, #game-over-screen {
  height: 80vh;
}

#game-title {
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
}

#start-btn {
  font-size: 1rem;
}

.word {
  padding: 5px;
  font-size: 2rem;
  font-family: 'Londrina Solid', cursive;
  color: blue;
  border: 2px solid black;
  border-radius: 10%;
}

.win {
  background-color: yellow;
  box-shadow: 0 0 10px yellow;
}

.modal-close {
  font-family: verdana; /* google font family adds extra styling */
}

.modal-body {
  font-size: 1.3rem;
}

#game-over-screen {
  display: none;
  text-align: center;
  border: 2px solid black;
}

.game-over-text {
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}
